# Dependencies
node_modules/

# Next.js
.next/
out/

# NestJS
dist/

# Environment variables
.env
.env.*
!.env.example

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Prisma
*.db
*.db-journal
